<li>
	
	{{#unless devoured}}
	<button class="delete-burger" data-id="{{this.id}}">Trash!</button>
	{{/unless}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat It!{{else}}Eat it Again!{{/if}}
	</button>

	

	{{name}}
</li>
